.nav_desktop ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav_desktop ul li{
    padding: 0 1.25rem;
    
}
.nav_desktop ul li a{
    font-family: 'Open Sans', sans-serif; 
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.nav_desktop{
    display: flex;
    justify-content: space-between;
    align-self: center;
}


/* .nav_desktop ul li a:hover{
    color: rgba(255, 255, 255, 0.698);
} */

/* Dropdowns */
.nav_desktop ul li a.dropd_link{
    color: black;
}

nav ul {
	position: relative;
}
	
nav ul li {
	display:inline-block;
}

 nav a {
     display:block;;
}

    
/* Hide Dropdowns by Default */
nav ul ul.dropdown {
    display: none;
    position: absolute;
    right: 1.25rem;
    top: 2rem; /* the height of the main nav */
}
        
    /* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
    background-color: white;
    
 }
        
    /* Fisrt Tier Dropdown */
nav ul ul li {
    position: relative;
}
    
.dropdown li{
    display: flex;
}
.dropdown li .col{
    padding: 1.25rem 1.875rem;
}

.dropdown li h2{
    font-size: .875rem;
    text-transform: uppercase;
    color: #8c9eb1;
    margin-bottom: 1.25rem;
}
.links_set{
    display: flex;
    align-items: center;

}

.links_set p{
    font-size: .875rem;
    margin-left:.625rem;
    font-weight: 500;
}
.dark_link{
color: #0a2540;
}

.light_link{
  color:#acb9c5;
  transition: 0.2s;
}

.links_set:hover .light_link{
    color: #0a2540;
}

.dark_link::after{
    font-family: 'Font Awesome 5 Free';
    content: "\279E";
    display: none;
    transition: 0.2s;
}
.links_set:hover .dark_link::after{
    display: inline-block;
}