@media screen and (max-width:767px){
.container{
    width: 100vw;
    margin: none;
    padding: 1.875rem
}
.main_title{
    font-size: 2.8125rem;
}
.hero{
    display: none;
}
.col_team{
    width: calc(100% / 2);
}
}
@media screen and  (min-width:768px) and (max-width:991px){
    .container{
        width: 70vw;
        margin: auto;
        padding: .9375rem;
    }
    .main_title{
        font-size: 3.4375rem;
    }
    .col_team{
        width: calc(100% / 2);
    }
}
@media screen and (min-width:992px){
    .container{
        width:70vw;
        margin: auto;
        padding: .9375rem;
    }
    .hamburger_menu{
        display: none;
    }
    .main_title{
        font-size: 3.75rem;
    }
    canvas{
        top:-30vh;
    }
    .col_team{
        width: calc(100% / 4);
    }
}



/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* typo */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
body{
    font-family: 'Open Sans', sans-serif;
}

/* containers */
/* .container{
    padding: .9375rem;
} */

/* Header */
.header-nav{
    background-color: aqua;
    height: 50px;
}

.logo{
    width: 5rem;
}
.logo img{
    width: 100%;
}

/* mobile */
.nav_mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger_menu{
    padding: .5rem .9375rem;
    border-radius: 45%;
    background-color: rgba(255, 255, 255, 0.342);
}

.hamburger_menu i{
    color: white;
}

.hamburger_menu:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.609);

}

/* Main */
.main_text_container{
    max-width: 25rem;
    z-index: 1;
    position: relative;
}

.main_title{
    font-weight: bold;
    margin: 2.5rem 0;
    color: #0a2540de;
    /* background: -webkit-linear-gradient(#051b27, #2222a0, #77284d, #1a0406);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    line-height: 110%;
}

.main_text_container p{
    font-family: 'Montserrat', sans-serif;
    color: #425466;
    font-weight: 500;
    line-height: 200%;
}

.main_text_container button{
    margin: .625rem 0;
}

.hero_section{
    display: flex;
   
}
.hero{
    position: relative;
    left: 6%;
}

/* Commercial teams */
.commercial_teams{
    display: flex;
    flex-wrap: wrap;
}
.col_team{
    padding: 1.25rem;
}